#mapo-map {
   position:fixed;
   width:100vw;
    height: 100vh;
    z-index:0;
}

.leaflet-control-attribution {
    visibility: hidden;
}

.leaflet-control-zoom {
    visibility: hidden;
}

.popup-item-show-item-btn {
    font-size: 1em;
    border-radius: 30px;
    border: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0094db;
}

.mapo-pop-up-item {
    font-size: 4em;
    padding: 15px;
    word-wrap: break-word;
}

.leaflet-container a.leaflet-popup-close-button {
    font-size: 4em;
    width: 50px;
    margin-top: 10px;
}
